<h1 class="page-header">Login Page
    <small>Page is visible only for unauthorized users</small>
</h1>
<form>
    <div class="form-group">
        <label for="username">Username</label>
        <input autocomplete="false" type="text"
               ng-model="credentials.username"
               class="form-control" id="username"
               placeholder="Username">
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input autocomplete="false" type="password"
               ng-model="credentials.password"
               class="form-control" id="pass"
               placeholder="Password">
    </div>
    <button type="button" class="btn btn-default"
            ng-disabled="!credentials.password || !credentials.username"
            ng-click="login()">Login</button>
</form>